<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
             
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            
            <link rel="stylesheet" href="../weather.css">

        
        </head>
        <body background="../RainImage.jpg">
             <div class="heading">
                    <h1>Weather Now </h1>
                </div>
                <div class="weatherCard">
                    <div class="logo-container"><div class="logo">
                        </div>
                        <div class="status text"><p>Snow</p></div>
                    </div>
                        <div class="temp text"><p>7</p></div>
                        <div class="press text"><p>345mph</p></div>
                        <div class="vertical-line">
                            </div>
                            <div class="day"><div class="text">Mon</div> <div class="range text">7/15</div>
                        </div>
                        </div>
            <div class="row select-dropdown"> 
                <div class="col-sm-12">
                        <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                  Select your City
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"  onclick="myfunction('ranchi')">Ranchi</a>
                                  <a class="dropdown-item" onclick="myfunction('patna')">Patna</a>
                                  <a class="dropdown-item" onclick="myfunction('chennai')">Chennai</a>
                                  <a class="dropdown-item" onclick="myfunction('Hazaribagh')">hazaribagh</a>
                                </div>
                              </div>
                </div>
            </div>
            
         
            
            <div>

            </div>
            <script>
             function myfunction(x){
             $.get(`/weather/${x}`,function(data){
                 $('.temp p').empty();
               $('.temp p').append((data.temp-273.15).toFixed(2)+"&deg;C");
               //alert(data.temp);
               $('.press p').empty();
               $('.press p').append(data.press+"hpa");
               $('.day .range').empty();
               $('.day .range').append(`${(data.temp_min-273.15).toFixed(2)}&deg; / ${(data.temp_max-273.15).toFixed(2)}&deg;`)
               $('.status').empty();
               $('.status').append(data.status);
               $('.logo').empty();
               $('.logo').css('background-image','url("http://openweathermap.org/img/w/'+data.icon+'.png")')
             })            
             }
            </script>
            </body>
    </html>