body{
overflow:hidden;
}
.select-dropdown{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0;
    bottom: 0px;
    height: 40px;
    margin: auto;
    display: block;
    width: 196px;
}
.btn{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(255,255,255,0.1));
}